.frame {
	width : 80%; 
	margin : auto; 
	padding : 50px; 
	padding-top: 80px;
}

#hobby-wrap{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;
	}
	
input[type=checkbox]{
	margin-left : 50px;
}